<div class="ml-auto col-sm-6">
  <section id="create_discount_form">
    <%= render partial: 'form', locals: {
      model: @discount,
      path: merchant_discounts_path(@merchant, @discount),
      method: :post,
      value: {
        name: '',
        discount_quantity: '',
        discount_percentage: ''
      }
    } %>
  </section>
</div>