<h3>Name: <%= @discount.name %></h1>
<h4>Discount Quantity: <%= @discount.discount_quantity %></h3>
<h4>Discount Percentage: <%= number_to_percentage(@discount.discount_percentage * 100, precision: 0) %></h3>



